.App{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 22px;
    padding: 10px;
}

.quoteBox{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 1px 1px 18px rgb(109, 104, 104);
}

.quoteBox_author{
    text-align: right;
    margin: 15px 0;
}

.quoteBox_icon{
    font-size: 55px;
}

.quoteBox_button{
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    margin: 0 10px 0 auto;
    cursor: pointer;
    transition: transform 200ms ease;
}

.quoteBox_button:hover{
    transform: scale(1.03);
}

footer{
    text-align: center;
    background-color: rgb(99, 69, 69);
    color: rgb(184, 164, 164);
}

.titulo{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.tituloh1{
    text-shadow: 0px 5px 5px black;
}

